<head>
<style>
h1 {
text-align: center;
font-size: 45px;
font: bold;
padding: 25px;
}

body {
background-image: url('Buttons.png');
}
</style>
</head>

<h1>New Reserved!</h1>
<body>
<%= render 'form', reserved: @reserved %>
</body>
<%#= link_to 'Back', reserveds_path %>
